@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  /* Add more light mode variables here */
}

.dark {
  --background-color: #000000;
  --text-color: #ffffff;
  /* Add more dark mode variables here */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
